<div id="footer-columns" class="footer-columns">

	<div class="container">

		<div class="flex flex-x flex-info">

			<div class="cell cell-box-1">

				<div class="_logo">
					<a title="SmartSign Trust your creation" href="/">
						<img src="/images/smart-sign-logo-1920x605.png" width="1920" height="605"
							alt="SmartSign – Trust your creation" loading="lazy" decoding="async" class="default-logo">
					</a>
				</div>

				<p class="footer-title active">CÔNG TY CỔ PHẦN CHỮ KÝ SỐ VI NA</p>
				<div class="footer-desc">
					<ul>
						<li><i class="fa-solid fa-house-user"></i>Mã số thuế: 0309612872</li>
						<li><i class="fa-solid fa-location-dot"></i>Trụ sở chính: 41A Nguyễn Phi Khanh, P. Tân Định,
							TP.Hồ Chí Minh.</li>
						<li><i class="fa-solid fa-location-dot"></i>CN Miền Bắc: Tầng 2, Tòa AC, Ngõ 78 Duy Tân, P. Cầu
							Giấy, TP. Hà Nội</li>
						<li><i class="fa-solid fa-phone-volume"></i>Hỗ trợ kỹ thuật: 19006276 (5.000đ/phút) – 19006676
							(1.000đ/phút)</li>
						<li><i class="fa-solid fa-phone-volume"></i>Điện thoại liên hệ: 028.38202261</li>
						<li><i class="fa-solid fa-envelope"></i>Email: info@smartsign.com.vn</li>
					</ul>
				</div>
				<ul class="footer-icon-list">
					<li>
						<div class="footer-img"><img width="84" height="84" src="/images/Group-2144770292.png"
								alt="Group 2144770292" loading="lazy" decoding="async"></div><a class="_button"
							href="https://www.facebook.com/share/17FHmK8sk2/" title="Facebook" target="_blank"
							rel="noopener noreferrer nofollow" aria-label="Visit our Facebook page"></a>
					</li>
					<li>
						<div class="footer-img"><img width="84" height="84" src="/images/Group-2144770293.png"
								alt="Group 2144770293" loading="lazy" decoding="async"></div><a class="_button"
							href="https://www.youtube.com/" title="Youtube" target="_blank"
							rel="noopener noreferrer nofollow" aria-label="Visit our YouTube channel"></a>
					</li>
					<li>
						<div class="footer-img"><img width="84" height="84" src="/images/Group-2144770294.png"
								alt="Group 2144770294" loading="lazy" decoding="async"></div><a class="_button"
							href="https://www.instagram.com/" title="Instagram" target="_blank"
							rel="noopener noreferrer nofollow" aria-label="Visit our Instagram profile"></a>
					</li>
					<li>
						<div class="footer-img"><img width="84" height="84" src="/images/Group-2144770295.png"
								alt="Group 2144770295" loading="lazy" decoding="async"></div><a class="_button"
							href="https://www.tiktok.com/" title="Tiktok" target="_blank"
							rel="noopener noreferrer nofollow" aria-label="Visit our TikTok channel"></a>
					</li>
					<li>
						<div class="footer-img"><img width="84" height="84" src="/images/Group-2144770296.png"
								alt="Group 2144770296" loading="lazy" decoding="async"></div><a class="_button"
							href="https://twitter.com" title="Twitter" target="_blank"
							rel="noopener noreferrer nofollow" aria-label="Visit our Twitter profile"></a>
					</li>
				</ul>
			</div>
			<div class="cell cell-box-3">
				<p class="footer-title">Xem bản đồ</p>
				<div class="footer-desc">
					<p>
						<iframe title="Bản đồ vị trí Công ty Cổ phần Chữ Ký Số Vi Na" loading="lazy" style="border: 0;"
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2565422176413!2d106.69186807584111!3d10.79165298935808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528cb7c7c0a71%3A0x3c419e30522ce845!2zQ8OUTkcgVFkgQ-G7lCBQSOG6pk4gQ0jhu64gS8OdIFPhu5AgVkkgTkE!5e0!3m2!1svi!2s!4v1760069946668!5m2!1svi!2s"
							width="100%" height="450" allowfullscreen>
						</iframe>
					</p>
					<!-- Hình có link -->
					<p style="margin-top: 15px; text-align: left;">
						<a href="http://online.gov.vn/Home/WebDetails/138752?AspxAutoDetectCookieSupport=1"
							target="_blank" rel="nofollow noopener">
							<img src="/images/logo-da-thong-bao-bo-cong-thuong-mau-xanh.png"
								alt="Đã thông báo Bộ Công Thương" style="max-width: 200px; height: auto;">
						</a>
					</p>
				</div>
			</div>
		</div>

	</div>

</div>
<div id="footer-credit" class="footer-credit" style="text-align: center;">
	<div class="container">
		<p class="copyright">© 2025 Công ty Cổ phần Chữ ký số Vi Na. Giấy phép cung cấp dịch vụ chứng thực chữ ký số
			công cộng số: 29/GP-BTTT do Bộ Thông tin – Truyền thông cấp ngày 20-01-2022</p>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
	crossorigin="anonymous"></script>