<header id="header" class="site-header elegant-header">
    <div class="container header-inner">
        <div class="site-branding fade-in">
            <a href="/" class="custom-logo-link" rel="home">
                <img src="/images/smart-sign-logo.png" alt="SmartSign Logo" loading="lazy" decoding="async" width="200" height="60">
            </a>
        </div>

        <nav class="main-navigation show-for-large slide-in">
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/tin-tuc">Tin tức</a></li>
                <li><a href="/huong-dan">Hướng dẫn</a></li>
                <li><a href="/cong-ty">Công ty</a></li>
            </ul>
        </nav>

        <div class="hb_header_button fade-in-right">
            <a class="shop _header-button" href="mailto:info@smartsign.com.vn" title="Gửi email">
                <div class="_svg">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="_title">info@smartsign.com.vn</div>
            </a>

            <a class="phone _header-button" href="tel:19006276" title="Liên hệ">
                <div class="_images">
                    <img width="38" height="39" src="/images/Group-2144769829.png" alt="Phone Icon">
                </div>
                <div class="_title">19006276 - 19006676</div>
            </a>
        </div>
    </div>
</header>
