<!DOCTYPE html>
<html lang="vi">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>

            <div class="main site-content" id="site-content">
                <section class="section section-breadcrumb has-background">
                    <div class="container">
                        <p class="breadcrumb-title">Công ty cổ phần chữ ký số vi na</p>
                        <div class="breadcrumb-desc">
                            <ul>
                                <li>Chữ ký số</li>
                                <li>Hoá đơn điện tử</li>
                                <li>Phần mềm bán hàng</li>
                                <li>Mật mã dân sự</li>
                            </ul>
                        </div>
                        <div class="breadcrumb-lists-button">
                            <div class="_item">
                                <a class="register_home" href="#registerhome" title="Đăng ký sử dụng">Đăng ký sử dụng<i
                                        class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <div class="_item">
                                <a class="btn_see_more" href="#see_more" title="Xem thêm">Xem thêm<i
                                        class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <picture class="breadcrumb-bg">
                        <source
                            srcset="/images/Group-2144770333-1920x600.jpg"
                            media="(min-width: 1024px)">
                        <source srcset="/images/Group-2144770333-scaled.jpg"
                            media="(min-width: 768px)"><img width="2560" height="800"
                            src="/images/Group-2144770333-scaled.jpg"
                            alt="Group 2144770333" loading="lazy" class="lazy" decoding="async">
                    </picture>
                </section>

                <section class="section section-page about-section">
                    <div class="hb_abouts">
                        <div class="cell cell-images">
                            <span class="img desktop-img">
                                <img width="2560" height="991"
                                    src="/images/Group-2144770227-1-scaled.jpg"
                                    class="attachment-full size-full" alt="Group 2144770227 (1)" decoding="async"
                                    srcset="/images/Group-2144770227-1-scaled.jpg 2560w, /images/Group-2144770227-1-640x248.jpg 640w, /images/Group-2144770227-1-1024x396.jpg 1024w, /images/Group-2144770227-1-320x124.jpg 320w, /images/Group-2144770227-1-1920x743.jpg 1920w, /images/Group-2144770227-1-1200x465.jpg 1200w"
                                    sizes="(max-width: 2560px) 100vw, 2560px">
                            </span>
                            <span class="img mobile-img">
                                <img width="2560" height="991"
                                    src="/images/Group-2144770227-1-scaled.jpg"
                                    class="attachment-full size-full" alt="Group 2144770227 (1)" decoding="async"
                                    srcset="/images/Group-2144770227-1-scaled.jpg 2560w, /images/Group-2144770227-1-640x248.jpg 640w, /images/Group-2144770227-1-1024x396.jpg 1024w, /images/Group-2144770227-1-320x124.jpg 320w, /images/Group-2144770227-1-1920x743.jpg 1920w, /images/Group-2144770227-1-1200x465.jpg 1200w"
                                    sizes="(max-width: 2560px) 100vw, 2560px">
                            </span>
                        </div>
                        <div class="container">
                            <div class="flex flex-x flex-info">
                                <div class="cell cell-left">
                                    <h2 class="heading-title _title">
                                        Giới thiệu
                                    </h2>
                                    <div class="_desc">
                                        <ol>
                                            <li>Công ty Cổ phần Chữ Ký Số Vi Na (SmartSign) tự hào là đơn vị tiên phong
                                                trong lĩnh
                                                vực chữ ký số, hóa đơn điện tử, phần mềm quản lý bán hàng và mật mã dân
                                                sự. Với nền
                                                tảng công nghệ hiện đại, Vi Na đã phát triển hệ thống tích hợp toàn diện
                                                với thuế,
                                                BHXH, hải quan, ngân hàng và các công ty chứng khoán, giúp tối ưu hóa
                                                mọi giao
                                                dịch điện tử.</li>
                                            <li>Chúng tôi cam kết đồng hành cùng doanh nghiệp, hộ kinh doanh và cá nhân
                                                trên toàn
                                                quốc, mang đến các giải pháp chuyển đổi số an toàn, hiệu quả, tiện lợi.
                                            </li>
                                            <li><strong>Trụ sở chính:&nbsp;</strong>41A Nguyễn Phi Khanh, P. Tân Định,
                                                TP. Hồ Chí
                                                Minh.</li>
                                            <li><strong>CN Miền Bắc:&nbsp;</strong>Tầng 2, Tòa AC, Ngõ 78 Duy Tân, P.
                                                Cầu Giấy,
                                                TP. Hà Nội.</li>
                                            <li><strong>Mã số thuế:&nbsp;</strong>0309612872</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="cell cell-right">
                                    <figure class="_images">
                                        <img width="2560" height="1709"
                                            src="/images/98947dfe46102614e426bf4c79b85787eca9ded4-1.jpg"
                                            class="attachment-full size-full"
                                            alt="98947dfe46102614e426bf4c79b85787eca9ded4 (1)" decoding="async"
                                            loading="lazy"
                                            srcset="/images/98947dfe46102614e426bf4c79b85787eca9ded4-1.jpg 2560w, /images/98947dfe46102614e426bf4c79b85787eca9ded4-1-640x427.jpg 640w, /images/98947dfe46102614e426bf4c79b85787eca9ded4-1-1024x684.jpg 1024w, /images/98947dfe46102614e426bf4c79b85787eca9ded4-1-320x214.jpg 320w, /images/98947dfe46102614e426bf4c79b85787eca9ded4-1-1920x1282.jpg 1920w, /images/98947dfe46102614e426bf4c79b85787eca9ded4-1-1200x801.jpg 1200w"
                                            sizes="(max-width: 2560px) 100vw, 2560px">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>

                                        

                    <div class="hb_target">
                        <div class="container">
                            <h2 class="heading-title _title">
                                Mục tiêu
                            </h2>
                            <div class="flex flex-x flex-info">
                                <div class="cell cell-left">
                                    <figure class="_images">
                                        <img width="996" height="847"
                                            src="/images/b99cfcb4a4a98f2329a0cc460204aad82b1146b9.jpg"
                                            class="attachment-full size-full"
                                            alt="b99cfcb4a4a98f2329a0cc460204aad82b1146b9" decoding="async"
                                            loading="lazy"
                                            srcset="/images/b99cfcb4a4a98f2329a0cc460204aad82b1146b9.jpg 996w, /images/b99cfcb4a4a98f2329a0cc460204aad82b1146b9-640x544.jpg 640w, /images/b99cfcb4a4a98f2329a0cc460204aad82b1146b9-320x272.jpg 320w"
                                            sizes="(max-width: 996px) 100vw, 996px">
                                    </figure>
                                </div>
                                <div class="cell cell-right">
                                    <div class="_lists">
                                        <div class="_item">
                                            <figure class="_images">
                                                <img width="150" height="147"
                                                    src="/images/Group-2144770297.png"
                                                    class="attachment-full size-full" alt="Group 2144770297"
                                                    decoding="async" loading="lazy">
                                            </figure>
                                            <div class="_title">
                                                <p>Cung cấp dịch vụ nhanh chóng, thuận tiện, an toàn, chuẩn pháp lý.</p>
                                            </div>
                                        </div>
                                        <div class="_item">
                                            <figure class="_images">
                                                <img width="150" height="148"
                                                    src="/images/Group-2144770298.png"
                                                    class="attachment-full size-full" alt="Group 2144770298"
                                                    decoding="async" loading="lazy">
                                            </figure>
                                            <div class="_title">
                                                <p>Giữ vững uy tín thương hiệu với hơn 15 năm hoạt động bền vững, tài
                                                    chính minh
                                                    bạch.</p>
                                            </div>
                                        </div>
                                        <div class="_item">
                                            <figure class="_images">
                                                <img width="150" height="146"
                                                    src="/images/Group-2144770299.png"
                                                    class="attachment-full size-full" alt="Group 2144770299"
                                                    decoding="async" loading="lazy">
                                            </figure>
                                            <div class="_title">
                                                <p>Hạ tầng kỹ thuật Tier-3 hiện đại, hệ thống dự phòng ổn định.</p>
                                            </div>
                                        </div>
                                        <div class="_item">
                                            <figure class="_images">
                                                <img width="149" height="147"
                                                    src="/images/Group-2144770300.png"
                                                    class="attachment-full size-full" alt="Group 2144770300"
                                                    decoding="async" loading="lazy">
                                            </figure>
                                            <div class="_title">
                                                <p>Hỗ trợ khách hàng 24/7 qua hotline, Zalo, UltraViewer.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hb_form_design">
                        <div class="cell cell-images">
                            <span class="img desktop-img">
                                <img width="2560" height="991"
                                    src="/images/Group-2144770227-1-scaled.jpg"
                                    class="attachment-full size-full" alt="Group 2144770227 (1)" decoding="async"
                                    loading="lazy"
                                    srcset="/images/Group-2144770227-1-scaled.jpg 2560w, /images/Group-2144770227-1-640x248.jpg 640w, /images/Group-2144770227-1-1024x396.jpg 1024w, /images/G-2144770227-1-320x124.jpg 320w, /images/Group-2144770227-1-1920x743.jpg 1920w, /images/Group-2144770227-1-1200x465.jpg 1200w"
                                    sizes="(max-width: 2560px) 100vw, 2560px">
                            </span>
                            <span class="img mobile-img">
                                <img width="2560" height="991"
                                    src="/images/Group-2144770227-1-scaled.jpg"
                                    class="attachment-full size-full" alt="Group 2144770227 (1)" decoding="async"
                                    loading="lazy"
                                    srcset="/images/Group-2144770227-1-scaled.jpg 2560w, /images/Group-2144770227-1-640x248.jpg 640w, /images/Group-2144770227-1-1024x396.jpg 1024w, /images/Group-2144770227-1-320x124.jpg 320w, /images/Group-2144770227-1-1920x743.jpg 1920w, /images/Group-2144770227-1-1200x465.jpg 1200w"
                                    sizes="(max-width: 2560px) 100vw, 2560px">
                            </span>
                        </div>

                    </div>
                </section>
            </div><!-- #site-content -->

            <%- include('partials/footer') %>

                <button id="scrollTopBtn" title="Lên đầu trang"><i class="fa-solid fa-arrow-up"></i></button>

                <script>
                    const scrollTopBtn = document.getElementById("scrollTopBtn");

                    // When the user scrolls down 20px from the top of the document, show the button
                    window.onscroll = function () {
                        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                            scrollTopBtn.style.display = "block";
                        } else {
                            scrollTopBtn.style.display = "none";
                        }
                    };

                    // When the user clicks on the button, scroll to the top of the document
                    scrollTopBtn.addEventListener("click", () => {
                        window.scrollTo({ top: 0, behavior: "smooth" });
                    });
                </script>
    </body>

</html>